
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
}

/* header part start */
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    background-color: lightgray;
}
.logo-area h2{
    position:relative;
    left: -100px;
    color: #3A3A3A;
    font-weight: 700;
    font-size: 30px;
}
.menu-items ul{
    display: flex;
    position: relative;
    right: -100px;
}
.menu-items ul li{
    list-style: none;
    margin-right: 20px;
}
.menu-items ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.fa-solid{
    font-size: 18px;
    margin-left:20px;
    color:#3A3A3A;
}
.card-font{
    font-size: 24px;
}
/* header part end */
/* banner part start */
.banner-container{
    margin:80px 0;
}
.banner-part{
    display: flex;
    align-items: center;
}
.left-part{
    width: 55%;
}
.banner-text{
    margin-left: 70px;
}
.banner-text h1{
    font-size: 3.75em;
    font-weight: 700;
    color:#3A3A3A;
    margin-bottom: 16px;
}
.banner-text p{
    margin-bottom: 25px;
}
.link-button{
    text-decoration: none;
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 30px;
}
#right-arrow{
    color: #fff;
    margin-left: 8px;
}
.right-part{
    width: 45%;
}
.cammera-img img{
    position: relative;
    left: 50px;
}
/* banner part end */
/* our partner part start */
.our-partner-container{
    margin-bottom: 80px;
}
.our-partner{
    padding: 40px;
    box-shadow: 10px 10px 40px grey;
    width: 85%;
    margin: 0 auto;
    border: 1px solid #dddddd;
}
.our-partner-img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* our partner part end */